@import "tailwindcss";

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0;
}

.custom-scrollbar.scrollbar-visible::-webkit-scrollbar-track {
    background: #f3f4f6;
}

.custom-scrollbar.scrollbar-visible::-webkit-scrollbar-thumb {
    background: #554DE2;
}

.content-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #554DE2 #F9FAFB;
}
